@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../../../styles/mixins.scss";

:is(ul, ul li) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  object-fit: contain;
}

input {
  margin: 0 !important;

  &:focus {
    outline: none;
  }
}

.product-list {
  margin-top: 100px;

  font-family: Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)) !important;
  grid-template-rows: minmax(284px, 1fr) !important;
  gap: 0;
  // @include df_jc_ai(flex, center);
}
