@import "../../../../styles/mixins.scss";

.product {
  display: flex;
  flex-direction: column;
  position: relative;

  height: max-content;
  max-width: auto;

  padding: 5px 20px;
  border: 1px solid #e9e9e9;

  &__content {
    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__image {
    position: relative;
    height: 140px;
    max-width: 200px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    @include col_fs(#221f1f, 14px);

    text-align: center;
    line-height: 18px;
    height: 36px;
    max-width: 180px;
  }

  &__expire {
    @include col_fs(#ff5c00, 12px);
  }

  &__price {
    @include col_fs(#f84147, 18px);
    font-weight: 600;
  }

  &__expire,
  &__price {
    padding-left: 3px;
    @include df_jc_ai(flex, start, end !important);
  }

  .description {
    position: relative !important;
    @include w_h(100px, 30px);
    display: none;

    &__hidden-content {
      position: absolute !important;
      top: 0;
      margin-top: 5px;
      z-index: 1000;
    }

    &.visible {
      display: block;
    }

    &__hidden-inner {
      @include col_fs(#797878, 12px);
      width: 170px;

      position: relative !important;
      z-index: 100px;
    }
  }
}
